.catagory-body {
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
Button {
    width: 300px;
    height: 400px;
    font-size: 35px;
    align-items: center;
}
Button:hover {
    background-color: crimson;
}
.ActiveAbilitys {
    margin-left: 100px;
    font-size: 38px;
}
